spring:
  datasource:
    url: jdbc:mysql://localhost:3306/agenceImmobilier?serverTimezone=GMT&createDatabaseIfNotExist=true
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: true
  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG
          type:
            descriptor:
              sql: TRACE
server:
  error:
    include-message: always


  main:
    allow-bean-definition-overriding: true

jwtSecret: 04ca023b39512e46d0c2cf4b48d5aac61d34302994c87ed4eff225dcf3b0a218739f3897051a057f9b846a69ea2927a587044164b7bae5e1306219d50b588cb1
jwtExpirationMs: 86400000
app:
  oauth2:
    authorizedRedirectUris:
      - http://localhost:8080/oauth2/redirect
      - myandroidapp://oauth2/redirect
      - myiosapp://oauth2/redirect
security:
  oauth2:
    client:
      registration:
        google:
          client-id: 636614596193-a173gle80knf7181hkab5pul3lk9ldu4.apps.googleusercontent.com
          client-secret: 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
          redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
          scope:
            - email
            - profile

        github:
          clientId: Iv1.61889f59c65d617e
          clientSecret: b82f62361cea118c0bbde757aff4a2cd7935a3ae
          redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
          scope:
            - user:email
            - read:user
flicker:
  apiKey: ff0fdebbe203175138c1cd66461d449c
  apiSecret: cb98ca30bb2c1b49
  appKey: 72157720891997467-240a7dec52f770ea
  appSecret: 70a4d98a531e3141

  spring:
    servlet:
      multipart:
        max-file-size: 30MB  # Set the maximum allowed file size to 10MB
        max-request-size: 10MB  # Set the maximum allowed request size to 10MB

  devtools: true
socket:
  host: localhost
  port: 8877